<mat-sidenav-container fxFlexFill class="example-container">

  <mat-sidenav #sidenav mode="over" color="primary" fxLayout="column" opened="false" fxHide.gt-sm="true">
    <div fxLayout="column">
      <a mat-button routerLink="/">Product List</a>
      <button mat-icon-button routerLink="/cart">
        <mat-icon [matBadge]="totalQuantity" [matBadgeHidden]="totalQuantity <= 0">shopping_cart</mat-icon>
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-nav-bar (toggle)="onToggleSidenav()"></app-nav-bar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>