<div class="responsive-table mat-elevation-z8">
  <table>
    <thead>
      <tr>
        <th class="column-name">Name</th>
        <th>Price</th>
        <th>Image</th>
        <th>Quantity</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cartItems">
        <td class="column-name">{{ item.name }}</td>
        <td>{{ item.price | currency }}</td>
        <td>
          <img [src]="item.imageUrl" [alt]="item.name" class="small-image">
        </td>
        <td>
          <mat-form-field>
            <mat-label>Quantity</mat-label>
            <mat-select [(ngModel)]="item.quantity" (ngModelChange)="onItemQuantityChange(item.id, item.quantity)">
              <mat-option *ngFor="let quantity of quantityArray" [value]="quantity">{{ quantity }}</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <button mat-button (click)="removeItem(item.id)"><mat-icon>delete</mat-icon></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="total-container mat-elevation-z8">
  SUBTOTAL: {{ totalPrice | currency }}
</div>