.example-spacer {
  flex: 1 1 auto;
}

.companyName{
  font-size: 150%;
}

.mat-toolbar{
height: 8vh;
}

div {
  overflow: inherit;
}


a{
  text-decoration: none;
  font-size: 80%;
  white-space: normal;
}

button{
  font-size: 110%;
  min-width: min-content;
}

.example-icon {
  padding: 0px 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-sidenav-content{
    font-size: 200%;
    text-align: center;
}

.link-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}
