<div>
  <mat-toolbar color="primary">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <a mat-button class="companyName" routerLink="/">
      <span>Jomodi</span>
    </a>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true" class="link-container">
      <a mat-button routerLink="/">Product List</a>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with heart icon" routerLink="/cart">
        <mat-icon matBadgeColor="warn" [matBadge]="totalQuantity"
          [matBadgeHidden]="totalQuantity <= 0">shopping_cart</mat-icon>
      </button>

    </div>
  </mat-toolbar>
</div>